<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
 <html xmlns="http://www.w3.org/1999/xhtml" 
 xmlns:h="http://java.sun.com/jsf/html" 
 xmlns:f="http://java.sun.com/jsf/core" 
 xmlns:ui="http://java.sun.com/jsf/facelets" 
 xmlns:p="http://primefaces.org/ui" 
 xmlns:pe="http://primefaces.org/ui/extensions">
 <h:head>
    <style type="text/css">
    
    
    
    </style>
</h:head>
	<ui:decorate template="/template/layout.xhtml">
        <ui:define name="centro">
        	<h:form id="formComunidade">
        	<p:growl autoUpdate="true" id="messages" />
        		<p:toolbar>
	        		<f:facet name="left">
		            	<p:commandButton value="Novo" action="#{comunidadeMB.novo}" update=":formComunidade" icon="ui-icon-document" title="Novo"/>
			            <p:commandButton value="Incluir" action="#{comunidadeMB.salvar}" update=":formComunidade" icon="ui-icon-plus" title="Salvar"/>
			            <p:commandButton value="Alterar" action="#{comunidadeMB.alterar}" update=":formComunidade" icon="ui-icon-pencil" title="Alterar" />
			            <p:commandButton value="Excluir" action="#{comunidadeMB.excluir}" update=":formComunidade" icon="ui-icon-trash" title="Excluir" />
	       			 </f:facet>
        		</p:toolbar>
        			<p:tabView id="tabView">
        				<p:tab title="Cadastro">
        					 <h:panelGrid columns="2" cellpadding="10" style="text-align:right">
        					 <p:row>
        					 	<p:column rowspan="2">
        					 		<p:outputLabel for="nome" value="Nome da Comunidade:" style="text-align:right"/>
        					 	</p:column>
        					 	<p:spacer width="10" height="1" />
        					 	<p:column>
        					 		<p:inputText id="nome" value="#{comunidadeMB.agrupamento.nome}" required="true" label="Nome da Comunidade" converter="upperCaseConverter" >
					               		<f:ajax event="blur" render="@this" />
					                	<f:validateLength minimum="2" />
					            	</p:inputText>
        					 	</p:column>
        					 </p:row>
        					 <br></br>
        					 <p:row>
        					 	<p:column>
        					 		<p:outputLabel for="municipio" value="Municipio:"  />
        					 	</p:column>
        					 	<p:spacer width="10" height="1" />
        					 	<p:column>
        					 		<p:selectOneMenu id="municipio" value="#{comunidadeMB.agrupamento.municipio}" converter="generic" required="true" label="Municipio" panelStyle="width:220px" 
					        		effect="fade" var="m" style="width:190px" filter="true" filterMatchMode="contains">
					      
						            <f:selectItem itemLabel="Selecione" itemValue="" />
						            <f:selectItems var="selecao" value="#{comunidadeMB.listMunicipio}" 
						            itemLabel="#{selecao.nomeMunicipio}" 
						            itemValue="#{selecao}" />
						           						 
						            <p:column>
						                <h:outputText value="#{m.nomeMunicipio}" />
						            </p:column>
					        		</p:selectOneMenu>
        					 	</p:column>
        					 
        					 </p:row>
        					  <br></br>
        					 <p:row>
        					 	<p:column>
        					 		<p:outputLabel for="caracteristica" value="Caracteristica:" style="text-align:right"/>
        					 	</p:column>
        					 	<p:spacer width="10" height="1" />
        					 	<p:column>
        					 		 <p:selectOneMenu id="caracteristica" value="#{comunidadeMB.agrupamento.caracteristica}" panelStyle="width:220px"
						       		effect="fade" var="t" style="width:190px" filter="true" filterMatchMode="contains">
								          <f:selectItem itemLabel="Selecione" itemValue="" />
								          <f:selectItem itemLabel="Comunidade Tradicional" itemValue="T" />
								          <f:selectItem itemLabel="Comunidade Indígena" itemValue="I" />
								          <f:selectItem itemLabel="Comunidade de Pescadores" itemValue="P" />
								          <f:selectItem itemLabel="Comunidade de Quilombolas" itemValue="Q" />
								          
		        					</p:selectOneMenu>
        					 	</p:column>
        					 
        					 </p:row>
        				
					            
					         </h:panelGrid>
        				</p:tab>
        				
        				<p:tab id="abaLocalizar" title="Localizar">
        						<h:form id="formLocalizar">
		        				<p:dataTable var="comunidade" value="#{comunidadeMB.lazyModel}" paginator="true" rows="10"
				                 paginatorTemplate="{RowsPerPageDropdown} {FirstPageLink} {PreviousPageLink} {CurrentPageReport} {NextPageLink} {LastPageLink}"
				                 rowsPerPageTemplate="5,10,15" 
				                 selectionMode="single" 
				                 selection="#{comunidadeMB.agrupamentoSelecionado}" 
				                 id="comunidadeTable" 
				                 lazy="true"
				                 filteredValue="#{comunidadeMB.agrupamentoFiltrados}"
				                  >
				                 
				                <p:column filterBy="#{comunidade.nome}" headerText="Nome" sortBy="#{comunidade.nome}" footerText="contains" filterMatchMode="contains" styleClass="colunaNome">
						            <h:outputText value="#{comunidade.nome}" >
						            	
						            </h:outputText>
						        </p:column>
						        
						        <p:column filterBy="#{comunidade.municipio}" headerText="Municipío" sortBy="#{comunidade.municipio}" footerText="contains" filterMatchMode="contains" styleClass="colunaApelido">
						            <h:outputText value="#{comunidade.municipio.nomeMunicipio}" />
						        </p:column>
						        
						        <p:column filterBy="#{comunidade.caracteristica}" headerText="Caracteristica" sortBy="#{comunidade.caracteristica}" footerText="contains" filterMatchMode="contains" styleClass="colunaApelido">
						            <h:outputText value="#{comunidade.caracteristicaFormatada}" />
						        </p:column>
						       
						        <p:column style="width:32px;text-align: center">
			                        <p:commandButton action="#{comunidadeMB.alterarComunidade}" update=":formComunidade" icon="ui-icon-pencil"  process="@this">
			                            <f:setPropertyActionListener target="#{comunidadeMB.agrupamentoSelecionado}" value="#{comunidade}" />
			                        </p:commandButton>
		                    	</p:column>
						        
						       
							</p:dataTable>
        				 </h:form>
        				
        				</p:tab>
        			
        			
        			
        		</p:tabView>
        	</h:form>
		 </ui:define>
 	</ui:decorate>
</html>