<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
 <html xmlns="http://www.w3.org/1999/xhtml" 
 xmlns:h="http://java.sun.com/jsf/html" 
 xmlns:f="http://java.sun.com/jsf/core" 
 xmlns:ui="http://java.sun.com/jsf/facelets" 
 xmlns:p="http://primefaces.org/ui" 
 xmlns:pe="http://primefaces.org/ui/extensions"> 
  <h:head>
    <style type="text/css">
    	
		.colunaNome {
            width: 180px;
        }
        .colunaApelido {
            width: 140px;
        }
		
		.colunaCPF {
            width: 110px;
        }
        .colunaRG {
            width: 110px;
        }
        
        .colunaMunicipio {
            width: 120px;
        }
        
        .colunaChefe {
            width: 110px;
        }
    
  		
	</style>
  </h:head>
 	<ui:decorate template="/template/layout.xhtml">
        <ui:define name="centro">
        	<h:form id="formPessoa">
        	<p:growl autoUpdate="true" id="messages" /> 
        	
        	<p:toolbar>
	        	<f:facet name="left">
		            		 
		            <p:commandButton value="Novo" action="#{pessoaMB.novo}" update=":formPessoa" icon="ui-icon-document" title="Novo"/>
		            <p:commandButton value="Incluir" action="#{pessoaMB.salvar}" update=":formPessoa" icon="ui-icon-plus" title="Salvar"/>
		            <p:commandButton value="Alterar" action="#{pessoaMB.alterarPessoa}" update=":formPessoa" icon="ui-icon-pencil" title="Alterar" />
		            <p:commandButton value="Excluir" action="#{pessoaMB.excluir}" update=":formPessoa" icon="ui-icon-trash" title="Excluir" />
	       		 </f:facet>
        	</p:toolbar>
        		<p:tabView id="tabView">
        		
        			<p:tab title="Dados Pessoais">
           			
           			
				        <h:panelGrid columns="3" cellpadding="5" style="text-align:right">
				           			 
				            <p:outputLabel for="cpf" value="CPF:" />
				            <p:inputMask id="cpf" value="#{pessoaMB.pessoa.cpf}" mask="999.999.999-99" required="true" label="CPF"/>
				            <p:message for="cpf" />
				            
				            <p:outputLabel for="nome" value="Nome:"/>
				            <p:inputText id="nome" value="#{pessoaMB.pessoa.nome}" required="true" label="Nome" converter="upperCaseConverter">
				                <f:ajax event="blur" render="@this" />
				                <f:validateLength minimum="2" />
				            </p:inputText>
				            <p:message for="nome" />
				            
	        			</h:panelGrid>
	        			
	        			<h:panelGrid columns="8" cellpadding="5" style="text-align:right">
	        			<p:spacer width="12" height="1" />
	        			 	<p:outputLabel for="rg" value="RG:" />
	        			 	<p:inputText id="rg" value="#{pessoaMB.pessoa.rg}"/>
	        			 	
	        			 	<h:outputText for="dataNascimento" value="Data de Nascimento: " />  
							<p:calendar id="dataNascimento" size="15" value="#{pessoaMB.pessoa.dataNascimento}" pattern="dd/MM/yyyy" mask="true" />
							             
				            
				            <p:spacer width="12" height="1" />
				            
				             <p:outputLabel for="sexo" value="Sexo: " />
						     	<p:selectOneMenu id="sexo" value="#{pessoaMB.pessoa.sexo}" style="width:155px">
								      <f:selectItem itemLabel="Selecione" itemValue="" />
								      <f:selectItem itemLabel="Masculino" itemValue="M" />
								            <f:selectItem itemLabel="Feminino" itemValue="F" />
								          
		       					</p:selectOneMenu>
				               
				        </h:panelGrid>
				        
				        <h:panelGrid columns="8" cellpadding="5" style="text-align:right">
				        	<p:outputLabel for="estadoCivil" value="Estado Civil: " />
						       <p:selectOneMenu id="estadoCivil" value="#{pessoaMB.pessoa.estadoCivil}" style="width:155px">
								          <f:selectItem itemLabel="Selecione" itemValue="" />
								          <f:selectItem itemLabel="Solteiro(A)" itemValue="S" />
								          <f:selectItem itemLabel="Casado(a)" itemValue="C" />
								          <f:selectItem itemLabel="União Estável" itemValue="U" />
								          <f:selectItem itemLabel="Divorciado(a)" itemValue="D" />
								          <f:selectItem itemLabel="Viúvo(a)" itemValue="V" />
		        				</p:selectOneMenu>
		        				
		        				<p:outputLabel for="escolaridade" value="Escolaridade: " />
						       <p:selectOneMenu id="escolaridade" value="#{pessoaMB.pessoa.escolaridade}" style="width:180px">
								          <f:selectItem itemLabel="Selecione" itemValue="" />
								          <f:selectItem itemLabel="Fundamental Incompleto" itemValue="1" />
								          <f:selectItem itemLabel="Fundamental Completo" itemValue="2" />
								          <f:selectItem itemLabel="Ensino Médio Incompleto" itemValue="3" />
								          <f:selectItem itemLabel="Ensino Médio Completo" itemValue="4" />
								          <f:selectItem itemLabel="Superior Incompleto" itemValue="5" />
								          <f:selectItem itemLabel="Superior Completo" itemValue="6" />
								          <f:selectItem itemLabel="Especialização" itemValue="7" />
								          <f:selectItem itemLabel="Mestrado" itemValue="8" />
								          <f:selectItem itemLabel="Doutorado" itemValue="9" />
		        				</p:selectOneMenu>
							
				        
				        
				        
				        </h:panelGrid>
				        
				          <h:panelGrid columns="2" cellpadding="5" style="text-align:right">
				          
				          	 <h:outputText value="Apelido:" />  
							 <p:inputText size="70" value="#{pessoaMB.pessoa.apelido}" converter="upperCaseConverter" >
							 		<f:ajax event="blur" render="@this" />
							 </p:inputText>
				          
				          </h:panelGrid>
				          
				          <h:panelGrid columns="6" cellpadding="5" style="text-align:right">
				          
				          	 	<p:outputLabel value="Telefone:" />
				            	<p:inputMask value="#{pessoaMB.pessoa.telefone}" mask="(99)99999-9999"/>
				            	
				            	<p:outputLabel value="Celular:" />
				            	<p:inputMask value="#{pessoaMB.pessoa.celular}" mask="(99)99999-9999"/>
				            	
				            	<p:outputLabel value="Telefone Comercial:" />
				            	<p:inputMask value="#{pessoaMB.pessoa.telefoneComercial}" mask="(99)99999-9999"/>
				          
				          </h:panelGrid>
	        			
	        			
    				
    				</p:tab>
    				
    				<p:tab title="Endereço">
    					 <h:panelGrid columns="4" cellpadding="5" style="text-align:right">
    					 		<p:outputLabel value="Logradouro:" />
	        			 		<p:inputText value="#{pessoaMB.pessoa.logradouro}" size="60" converter="upperCaseConverter">
	        			 			<f:ajax event="blur" render="@this" />
	        			 		</p:inputText>
	        			 		
	        			 		<p:outputLabel value="Número:" />
	        			 		<p:inputText value="#{pessoaMB.pessoa.numero}" size="10"/>
    					 
    					 </h:panelGrid>
    					 <h:panelGrid columns="6" cellpadding="5" style="text-align:right"> 
    					 		        				
		        				
		        			<p:outputLabel for="municipio" value="Municipio: " />
					        <p:selectOneMenu id="municipio" value="#{pessoaMB.pessoa.municipio}" converter="generic" required="true" label="Municipio">
					      
					            <f:selectItem itemLabel="Selecione" itemValue="" />
					            <f:selectItems var="selecao" value="#{pessoaMB.listMunicipio}" 
					            itemLabel="#{selecao.nomeMunicipio}" 
					            itemValue="#{selecao}" />
					        </p:selectOneMenu>
					        
					        <p:outputLabel value="Bairro:" />
	        			 	<p:inputText value="#{pessoaMB.pessoa.bairro}" size="10" converter="upperCaseConverter">
	        			 		<f:ajax event="blur" render="@this" />
	        			 	</p:inputText>
	        			 	
	        			 	<p:outputLabel value="Complemento:" />
	        			 	<p:inputText value="#{pessoaMB.pessoa.complemento}" size="13" converter="upperCaseConverter">
	        			 		<f:ajax event="blur" render="@this" />
	        			 	</p:inputText>
		        		
		        		</h:panelGrid>
    				
    				</p:tab>
    			
    				
    				<p:tab id="abaLocalizar" title="Localizar">
    					<h:form id="formLocalizar">
    						<p:dataTable var="pessoa" value="#{pessoaMB.lazyModel}" paginator="true" rows="10"
		                 paginatorTemplate="{RowsPerPageDropdown} {FirstPageLink} {PreviousPageLink} {CurrentPageReport} {NextPageLink} {LastPageLink}"
		                 rowsPerPageTemplate="5,10,15" 
		                 selectionMode="single" 
		                 selection="#{pessoaMB.pessoaSelecionada}" 
		                 id="pessoaTable" 
		                 lazy="true"
		                 filteredValue="#{pessoaMB.pessoasFiltradas}"
		                  >
		                 
		                <p:column filterBy="#{pessoa.nome}" headerText="Nome" sortBy="#{pessoa.nome}" footerText="contains" filterMatchMode="contains" styleClass="colunaNome">
				            <h:outputText value="#{pessoa.nome}" >
				            	
				            </h:outputText>
				        </p:column>
				        
				        <p:column filterBy="#{pessoa.apelido}" headerText="Apelido" sortBy="#{pessoa.apelido}" footerText="contains" filterMatchMode="contains" styleClass="colunaApelido">
				            <h:outputText value="#{pessoa.apelido}" />
				        </p:column>

				        <p:column filterBy="#{pessoa.cpf}" headerText="CPF" sortBy="#{pessoa.cpf}" footerText="contains" filterMatchMode="contains"  styleClass="colunaCPF">
				            <h:outputText value="#{pessoa.cpfFormatado}" />
				        </p:column>
				        				        				        
				        <p:column filterBy="#{pessoa.rg}" headerText="RG" sortBy="#{pessoa.rg}" filterMatchMode="contains" styleClass="colunaRG">
				            <h:outputText value="#{pessoa.rg}" />
				        </p:column>
				        
				        <p:column filterBy="#{pessoa.municipio.nomeMunicipio}" headerText="Município" sortBy="#{pessoa.municipio.nomeMunicipio}" filterMatchMode="contains" styleClass="colunaMunicipio" >
				            <h:outputText value="#{pessoa.municipio.nomeMunicipio}" />
				        </p:column>
				        
				        <p:column filterBy="#{pessoa.relacaoChefe}" headerText="Relação Chefe" sortBy="#{pessoa.relacaoChefe}" filterMatchMode="contains" styleClass="colunaChefe" >
				            <h:outputText value="#{pessoa.relacaoChefeFormatada}" />
				        </p:column>
				        
				        <p:column style="width:32px;text-align: center">
	                        <p:commandButton action="#{pessoaMB.alterar}" icon="ui-icon-pencil" update=":formPessoa" process="@this">
	                            <f:setPropertyActionListener target="#{pessoaMB.pessoaSelecionada}" value="#{pessoa}" />
	                        </p:commandButton>
                    	</p:column>
				        
				       
					</p:dataTable>
    					
    				 </h:form>
    				
    				
    				
    				
    				
    				</p:tab>
    		
    			</p:tabView>
    			
           </h:form>
        </ui:define>
 	</ui:decorate>
</html>