<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
 <html xmlns="http://www.w3.org/1999/xhtml" 
 xmlns:h="http://java.sun.com/jsf/html" 
 xmlns:f="http://java.sun.com/jsf/core" 
 xmlns:ui="http://java.sun.com/jsf/facelets" 
 xmlns:p="http://primefaces.org/ui" 
 xmlns:pe="http://primefaces.org/ui/extensions"> 
 
 	<ui:decorate template="/template/layout.xhtml">
        <ui:define name="centro">
        	<h:form>
        	
           		<p:panel id="basic" header="Relatório Área de Atuação" style="margin-bottom:20px" toggleSpeed="500">
			        <h:panelGrid columns="2" cellpadding="10">
			            
			           <p:outputLabel for="exercicio" value="Exercício:" style="text-align:right"/>
						<p:selectOneMenu id="exercicio" value="#{areaAtuacaoMB.exercicio}" panelStyle="width:220px"
						       		effect="fade" style="width:190px" >
								          <f:selectItem itemLabel="Selecione" itemValue="" />
								          <f:selectItem itemLabel="2016" itemValue="2016" />
								          <f:selectItem itemLabel="2017" itemValue="2017" />
								          <f:selectItem itemLabel="2018" itemValue="2018" />
								          <f:selectItem itemLabel="2019" itemValue="2019" />
						<f:ajax  listener="#{areaAtuacaoMB.carregaMunicipioByRegiao}" />		         
						<p:ajax event="change" execute="@this" render="@this" immediate="true" process="@all" listener="#{areaAtuacaoMB.carregaMunicipioByRegiao}" />      
		        		</p:selectOneMenu>
			        </h:panelGrid>
    			</p:panel>
           </h:form>
        </ui:define>
 	</ui:decorate>
 </html>