<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
 <html xmlns="http://www.w3.org/1999/xhtml" 
 xmlns:h="http://java.sun.com/jsf/html" 
 xmlns:f="http://java.sun.com/jsf/core" 
 xmlns:ui="http://java.sun.com/jsf/facelets" 
 xmlns:p="http://primefaces.org/ui" 
 xmlns:pe="http://primefaces.org/ui/extensions"> 
 
 	<ui:decorate template="/template/layout.xhtml">
        <ui:define name="centro">
        	<h:form id="formAreaAtuacao" style="horizontal-align:center">
        	<div align="center">
           		<p:panel id="panelAreaAtuacao" header="Relatório Área de Atuação" style="margin-bottom:20px;width:400px;height:220px;align:center" >
			        <h:panelGrid columns="2" cellpadding="10">
			        	 <p:row>
            				<p:column >
            				 	<p:outputLabel for="exercicio" value="Exercício:" style="text-align:right"/>
            				</p:column>
            				
            				<p:spacer width="10" height="1" />
            				<p:column >
									<p:selectOneMenu id="exercicio" value="#{areaAtuacaoMB.exercicio}" panelStyle="width:220px"
						       					effect="fade" style="width:190px" >
								          <f:selectItem itemLabel="Selecione" itemValue="" />
								          <f:selectItem itemLabel="2016" itemValue="2016" />
								          <f:selectItem itemLabel="2017" itemValue="2017" />
								          <f:selectItem itemLabel="2018" itemValue="2018" />
								          <f:selectItem itemLabel="2019" itemValue="2019" />
								        
								       
		        					</p:selectOneMenu>
							</p:column>
        				 </p:row>
        				 <br></br>
			             <p:row>
			             		<p:column >
			             			<p:outputLabel for="regiao" value="Regional:" />
			             		</p:column>
			             			<p:spacer width="10" height="1" />
			             		<p:column>
			             		  		<p:selectOneMenu id="regiao" value="#{areaAtuacaoMB.idRegiao}"
			             		  		effect="fade" style="width:190px" >
						       
								          <f:selectItem itemLabel="Selecione" itemValue="" />
					            		  <f:selectItems var="reg" value="#{areaAtuacaoMB.listRegiao}" 
					            			itemLabel="#{reg.descRegiao}" 
					            			itemValue="#{reg.idRegiao}" />
					            		
					            				<p:ajax event="change" listener="#{areaAtuacaoMB.carregaMunicipioByRegiao}" update="municipio"/> 
							          
		        					   </p:selectOneMenu>
			             		
			             		</p:column>
			             
			             
			             </p:row>
			             <br></br>
			          	<p:row>
				          	<p:column >
				          		<p:outputLabel for="municipio" value="Municipio: " />
				          	</p:column>
				          	<p:spacer width="6" height="1" />
				          	<p:column >
				          		 <p:selectOneMenu id="municipio" value="#{areaAtuacaoMB.idCidade}" 
					      		     effect="fade" style="width:190px">
					      
					            <f:selectItem itemLabel="Selecione" itemValue="" />
					            <f:selectItems var="selecao" value="#{areaAtuacaoMB.listMunicipio}" 
					            itemLabel="#{selecao.nomeMunicipio}" 
					            itemValue="#{selecao.idMunicipio}" />
					        </p:selectOneMenu>
				          	</p:column>
		        		
		        		</p:row>
		        		 
		        			
		        		
		        		
					       
			        </h:panelGrid>
			        <br></br>
			        <div align="center">
			        		<p:commandButton value="Emitir" action="#{areaAtuacaoMB.emitirRelatorio}"  ajax="false" icon="ui-icon-trash" title="emitirRelatorio"/>
			        	</div>
    			</p:panel>
    			</div>
           </h:form>
        </ui:define>
 	</ui:decorate>
 </html>