<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
 <html xmlns="http://www.w3.org/1999/xhtml" 
 xmlns:h="http://java.sun.com/jsf/html" 
 xmlns:f="http://java.sun.com/jsf/core" 
 xmlns:ui="http://java.sun.com/jsf/facelets" 
 xmlns:p="http://primefaces.org/ui" 
 xmlns:pe="http://primefaces.org/ui/extensions"> 
  <h:head>
    <style type="text/css">
    
    .ocupada .ui-panel-titlebar {
    		background: #006400;
    		color:#87B6D9;
		}
		
		#selecao {
			position:absolute;
			left:50%;
			top:50%;
			margin-left:-110px;
			margin-top:-40px;
		}
  		
	</style>
  </h:head>
 	<h:body >
 	
 		<div  id="selecao">
 		<h:form id="formSelecao"  align="right"> 
 			<p:panel id="basic" header="Selecione o escritório" style="margin-bottom:20px;width:500px;background-color: GhostWhite;" styleClass="ocupada">
			        <p:growl autoUpdate="true" id="message" />
			        	<h:panelGrid columns="2">
			        	
			        		<p:outputLabel for="escritorio" value="Escritório: " />
					        <p:selectOneMenu id="escritorio" value="#{loginMB.escritorioSelecionado}" converter="generic">
					      
					            <f:selectItem itemLabel="Selecione" itemValue="" />
					            <f:selectItems var="selecao" value="#{loginMB.listaEscritorio}" 
					            itemLabel="#{selecao.nomeEscritorio}" 
					            itemValue="#{selecao}" />
					        </p:selectOneMenu>
					        
					       <p:commandButton value="Avançar" action="#{loginMB.selecaoEscritorio}" />
							
						</h:panelGrid>
			       
    	    </p:panel> 
    	  </h:form>
    	</div>
 		
 </h:body>
</html>