<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
 <html xmlns="http://www.w3.org/1999/xhtml" 
 xmlns:h="http://java.sun.com/jsf/html" 
 xmlns:f="http://java.sun.com/jsf/core" 
 xmlns:ui="http://java.sun.com/jsf/facelets" 
 xmlns:p="http://primefaces.org/ui" 
 xmlns:pe="http://primefaces.org/ui/extensions"> 
 <h:head> 
  	<style type="text/css">
 	  .topo .ui-layout-unit-content  {
    		background: #E8E8E8;
    		color:#E0FFFF;
		}
		
		.barra {
  			background-color: LightGray;
  			position: fixed;
  			top: 5px;
  			left: 5px;
  			right: 5px;
  			height: 35px;
  			
	}
	
	.ui-widget {
		font-size: 12px !important;
	}
	</style>
 </h:head> 
 <h:body>

 		<p:layout fullPage="true">
 
		    <p:layoutUnit position="north" size="130"  style="border-width: 0px" styleClass="topo">
		    <div class="barra">
		    		<h:outputText value="#{loginMB.escritorioSelecionado.nomeEscritorio}" style="background-color: LightGray;color:black"/>
		    		
		    		<p:commandLink action="#{loginMB.doLogout}" immediate="true" update="@all" process="@this" style="color:blue;float:right">
	        			<h:outputText value="Sair" />
	   		 		</p:commandLink>
	   		 		<p:spacer width="1" height="22" style="position: relative; bottom: -5px;background-color: #A8A8A8; margin-left: 10px;margin-right: 10px" />
		    		<h:outputText value="#{loginMB.usuarioVO.nome}" style="background-color: LightGray;color:black"/>
		    		
		    </div>
		    <br></br><br></br><br></br>
		        
		        <h:graphicImage library="images" name="logo3.jpg" width="120px" height="70px" style="background-color: darkblue !important"/>
		        
		    </p:layoutUnit>
		 
<!-- 		    <p:layoutUnit position="south" size="100" header="Bottom" resizable="true" closable="true" collapsible="true"> -->
<!-- 		        <h:outputText value="South unit content." /> -->
<!-- 		    </p:layoutUnit> -->
		 
		    <p:layoutUnit position="west" size="170" header="Menu" resizable="true" closable="true" collapsible="true" >
		       <h:form>
			        <p:menu toggleable="true" size="230">
			         <p:submenu label="Cadastros">
				          <p:menuitem value="Pessoa" url="/paginas/pessoa.xhtml" icon="ui-icon-person"/>
				          <p:menuitem value="Comunidade" url="/paginas/comunidade.xhtml" icon="ui-icon-home"/>
				          <p:menuitem value="Assentamento" url="/paginas/assentamento.xhtml" icon="ui-icon-grip-solid-horizontal"/>
				       </p:submenu>
				       <p:submenu label="Relatórios">
				          <p:menuitem value="Usuário" url="/paginas/relatorio_usuario.xhtml" icon="ui-icon-document"/>
				          <p:menuitem value="Área de Atuação" url="/paginas/relatorio_area_atuacao.xhtml"   icon="ui-icon-clipboard"/>
				       </p:submenu>
				      
				   </p:menu> 
			   </h:form>    
		    </p:layoutUnit>
		 
<!-- 		    <p:layoutUnit position="east" size="200" header="Right" resizable="true" closable="true" collapsible="true" effect="drop"> -->
<!-- 		        <h:outputText value="Right unit content." /> -->
<!-- 		    </p:layoutUnit> -->
		 
		    <p:layoutUnit position="center" style="border-width: 0px">
		        <ui:insert name="centro">
                       
                 </ui:insert>
		    </p:layoutUnit>
 
	</p:layout>
 
 </h:body>
</html>