<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
 <html xmlns="http://www.w3.org/1999/xhtml" 
 xmlns:h="http://java.sun.com/jsf/html" 
 xmlns:f="http://java.sun.com/jsf/core" 
 xmlns:ui="http://java.sun.com/jsf/facelets" 
 xmlns:p="http://primefaces.org/ui" 
 xmlns:pe="http://primefaces.org/ui/extensions"> 
 <h:head> 
 <link rel="stylesheet" type="text/css" href="css/styles.css" />
 </h:head> 
 <h:body>


<div id="container">

	
  
    <center>
    <div id="body">
    
		<div id="content">
        	<h1>Sistema EMPAER</h1>
            <div class="box">
               <h:form id="formLogin" enctype="multipart/form-data" align="right"> 
				
				  <p:commandButton action="#{usuarioMB.emitirRelatorio}" icon="ui-icon-print" ajax="false">
	                           
	                        </p:commandButton>
				
  				</h:form> 
             
            </div>
        </div>
        
        
        <div class="sidebar">


        </div>
    	<div class="clear"></div>
    </div>
    </center>
    <div id="footer">
        <div class="footer-content">

        </div>
        <div class="footer-bottom">

         </div>
    
    </div>
</div>
</h:body>
</html>
