<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
 <html xmlns="http://www.w3.org/1999/xhtml" 
 xmlns:h="http://java.sun.com/jsf/html" 
 xmlns:f="http://java.sun.com/jsf/core" 
 xmlns:ui="http://java.sun.com/jsf/facelets" 
 xmlns:p="http://primefaces.org/ui" 
 xmlns:pe="http://primefaces.org/ui/extensions"> 
 
 	<ui:decorate template="/template/layout.xhtml">
        <ui:define name="centro">
        <br></br><br></br><br></br>
        	<center>
           		<img src="images/logo2.png" alt="" width="500" height="350" />
           		<br></br>
           		<h:outputText value="Seja Bem Vindo, ao sistema SAGAE-MT" />
           		<br></br>
           		<h:outputText value="Sistema de Acompanhamento e Gereciamento das Atividades da EMPAER - MT!" />
          	</center>
        </ui:define>
 	</ui:decorate>
 </html>