<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
 <html xmlns="http://www.w3.org/1999/xhtml" 
 xmlns:h="http://java.sun.com/jsf/html" 
 xmlns:f="http://java.sun.com/jsf/core" 
 xmlns:ui="http://java.sun.com/jsf/facelets" 
 xmlns:p="http://primefaces.org/ui" 
 xmlns:pe="http://primefaces.org/ui/extensions"> 
  <h:head>
    <style type="text/css">
  		.Bimage{background-image:url("images/logo3.jpg")}
  		
  		
	
		#login {
			position:absolute;
			left:50%;
			top:50%;
			margin-left:-110px;
			margin-top:-40px;
		}
		
		.ocupada .ui-panel-titlebar {
    		background: #8B8378;
    		color:#000000;
		}
	</style>
  </h:head>
 	<h:body styleClass="Bimage">
 	
 		<div  id="login">
 		<h:form id="formLogin" enctype="multipart/form-data" align="right"> 
 		<p:growl autoUpdate="true" id="message" />
 			<p:panel id="basic" header="Faça login, para acessar o SAGAE" style="margin-bottom:20px;width:400px;background-color: Seashell3;" styleClass="ocupada">
			        
			        	<h:panelGrid columns="2">
							<h:outputText value="Usuário: " />
							<p:inputMask mask="999.999.999-99" id="cpf" size="20" value="#{loginMB.usuario}" requiredMessage="O Usuário é obrigatório"
								required="true" />
							<h:outputText value="Senha: " />
							<p:password  value="#{loginMB.senha}" requiredMessage="A Senha é obrigatório"
								required="true" />
							
							<center></center><p:commandButton value="Login" action="#{loginMB.doLogin}"/>
						</h:panelGrid>
			       
    	    </p:panel>
    	   </h:form>
    	</div>
 		
 </h:body>
</html>