body {
	background: #333;
	margin:0;
	padding:0;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 13px;
	color: #666;
}

* {
	margin:0;
	padding:0;
}

/** element defaults **/
table {
	width: 100%;
	text-align: left;
}

th, td {
	padding: 10px 10px;
}

th {
	color: #fff;
	background: #E66000 none repeat-x scroll left top;
}

td {
	border-bottom: 1px solid #ccc;
}

code, blockquote {
	display: block;
	border-left: 5px solid #222;
	padding: 10px;
	margin-bottom: 20px;
}
code {
	background-color: #222;
	color:#ccc;
	border: none;
}
blockquote {
	border-left: 5px solid #222;
}

blockquote p {
	font-style: italic;
	font-family: Georgia, "Times New Roman", Times, serif;
	margin: 0;
	color: #333;
	height: 1%;
}

p {
	line-height: 1.9em;
	margin-bottom: 20px;
	font-size: 12px;
}

a {
	color: #55A649;
}

a:hover {
	color: #A74956;
}

a:focus {
	outline: none;
}

fieldset {
	display: block;
	border: none;
	border-top: 1px solid #ccc;
}

fieldset legend {
	font-weight: bold;
	font-size: 13px;
	padding-right: 10px;
	color: #333;
}

fieldset form {
	padding-top: 15px;
}

fieldset p label {
	float: left;
	width: 150px;
}

form input, form select, form textarea {
	padding: 5px;
	color: #333333;
	border: 1px solid #ddd;
	border-right:1px solid #ccc;
	border-bottom:1px solid #ccc;
	background-color:#fff;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
}

form input.formbutton {
	border: none;
	background: #333;
	color: #ffffff;
	font-weight: bold;
	padding: 5px 10px;
	font-size: 12px;
	font-family: Tahoma, Geneva, sans-serif;
	letter-spacing: 1px;
	width: auto;
	overflow: visible;
}

form.searchform p {
	margin: 5px 0;
}


span.required {
	color: #ff0000;
}

h1, #content .box h1 {
	color: #000;
	font-size: 35px;
	font-family: Arial, Helvetica, sans-serif;
	padding: 0;
	background: none;
	border-bottom: none;
	text-transform: none;
	line-height: 1.0em;
	padding: 0 0 5px;
}

h2 {
	color: #000;
	font-family: 'Lucida Grande','Lucida Sans Unicode',Geneva,Verdana,Sans-Serif;
	font-size: 22px;
	letter-spacing: 0px;
	font-weight: normal;
	padding: 0 0 5px;
	margin: 0;
}

h3 {
	color: #555;
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 10px;
	font-family: Arial, Helvetica, sans-serif;
}

h4 {
	padding-bottom: 10px;
	font-size: 15px;
	color: #999;
}

h5 {
	padding-bottom: 10px;
	font-size: 13px;
	color: #999;
}

ul, ol {
	margin: 0 0 35px 35px;
}

li {
	padding-bottom: 5px;
}

li ol, li ul {
	font-size: 1.0em;
	margin-bottom: 0;
	padding-top: 5px;
}


#container {
	width: 960px;
	margin: 0 auto;
	padding: 0;
	background-color: #ddd;
	border-right: 10px solid #555;
	border-left: 10px solid #555;
}

#header {
	padding: 0px 15px;
	background: #4C9B43 url('images/header.jpg') repeat-x scroll top left;
	margin: 0 auto;
	height: 125px;
}

#header h1 a {
	color: #fff;
	padding-top: 40px;
	font-size: 40px;
	font-weight: normal;
	text-transform: uppercase;
	text-decoration: none;
	letter-spacing: -3px;
	float: left;
}

#header h2 {
	color: #366E30;
	float: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	margin-left: 20px;
	margin-top: 48px;
	padding-left: 4px;
	letter-spacing: 0;
}

#nav {
	height: 37px;
	width: 960px;
	background: #111 url('images/nav-bg.jpg') repeat-x scroll;
}

#nav ul {
	list-style: none;
	padding: 0;
	margin: 0;
	height: 37px;
}

#nav ul li {
	float: left;
	display: block;
}

#nav ul li a {
	display: block;
	color: #ddd;
	display: block;
	font-size: 11px;
	font-weight: bold;
	text-transform: uppercase;
	font-family: Lucida, "Lucida Sans", Geneva, Arial, sans-serif;
	padding: 13px 15px 11px;
	text-decoration: none;
}

#nav ul li.selected {
	position: relative;
	top: -5px;
}

#nav ul li.selected a, #nav ul li.selected a:hover {
	background:#ddd url('images/nav-selected.jpg') repeat-x scroll;
	color: #333;
	padding: 17px 15px 13px;
}

#nav ul li a:hover {
	color: #fff;
	background-color: #333;
}

#body {
	background: none;
	margin:0 auto;
	padding: 20px 12px;
	width: 936px;
	background-color: #ddd;
}

#content {
	/* Sub-menu */
	/*float: left;*/
	width: 635px;
}

.box { 
	margin: 0;
	padding: 0px;
	background-color: #fff;
}

.sidebar {
	width: 280px;
	padding: 0;
	float: right;
}


.sidebar ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.sidebar ul li {
	margin-bottom: 20px;
	line-height: 1.9em;
}

.sidebar li ul {
	padding: 10px;
	background-color: #fff;
}

.sidebar li ul li {
	display: block;
	border-top: none;
	padding: 6px 2px;
	margin: 0;
	line-height: 1.5em;
	font-size: 13px;
	border: none;
}

.sidebar li ul li a {
	font-weight: normal;
	color: #222;
}

.sidebar li ul li a:hover {
	color: #000;
}

.sidebar li ul.blocklist li {
	padding: 0;
	display: inline;
}

.sidebar li ul.blocklist li a {
	display: block;
	border-bottom:1px solid #e0e0e0;
	padding: 6px 5px;
	text-decoration: none;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
}



.sidebar h4, #content h1 {
	color: #fff;
	font-family: Lucida, "Lucida Sans", Geneva, Arial, sans-serif;
	font-size: 13px;
	letter-spacing: -0.5px;
	border-bottom: 1px solid #366E30;
	text-transform:uppercase;
	margin: 0;
	line-height: 1.9em;
	padding: 5px;
	font-weight: bold;
	background: #50A145 url('images/header.jpg') repeat-x center;
}

.clear {
	clear: both;
}

#footer {
	margin-top: 30px;
}

#footer p {
	text-align: left;
	color: #999;
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
	margin: 0;
	padding: 0;
}

.footer-content {
	padding: 30px 15px 60px;
	background: #4C9B43 url('images/header.jpg') repeat-x scroll center;
}

#footer .footer-content p {
	color: #666;
	position: relative;
	top: 12px;
	margin-left: 185px;
}

#footer .footer-content p a {
	color: #fff;
	font-family: "Lucida Grande", "lucida sans unicode", Verdana, Arial, Helvetica, sans-serif;
	font-size: 16px;
	text-decoration: none;
	margin: 0 10px;
	padding-bottom: 2px;
	position: relative;
	top: 2px;
}

#footer .footer-content p a:hover {
	color: #fff;
	border-bottom: 2px solid #489140;
}

#footer .footer-content p a.backtotop {
	float: right;
	font-size: 13px;
	top: 3px;
}

#footer .footer-content span.sitename {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 40px;
	font-weight: normal;
	letter-spacing: -2px;
	color: #366E30;
	float: left;
}

#footer .footer-bottom {
	padding: 7px 15px 0;
	height: 30px;
	color: #666;
	background: #111 url('images/nav-bg.jpg') repeat-x scroll;
}

#footer .footer-bottom p {
	color: #999;
}

#footer .footer-bottom p a {
	color: #fff;
	font-weight: bold;
}








#menu {
    width: 100%;
    margin: 0;
    padding: 10px 0 0 0;
    list-style: none;  
    background-color: #111;
    background-image: linear-gradient(#444, #111);
    border-radius: 50px;
    box-shadow: 0 2px 1px #9c9c9c;
}

#menu li {
    float: left;
    padding: 0 0 10px 0;
    position: relative;
}

#menu a {
    float: left;
    height: 25px;
    padding: 0 25px;
    color: #999;
    text-transform: uppercase;
    font: bold 12px/25px Arial, Helvetica;
    text-decoration: none;
    text-shadow: 0 1px 0 #000;
}

#menu li:hover > a {
    color: #fafafa;
}

*html #menu li a:hover { /* IE6 */
    color: #fafafa;
}

#menu li:hover > ul {
    display: block;
}

/* Sub-menu */
#menu ul {
    list-style: none;
    margin: 0;
    padding: 0;    
    display: none;
    position: absolute;
    top: 35px;
    left: 0;
    z-index: 99999;    
    background-color: #444;   
    background-image: linear-gradient(#444, #111);    
    -moz-border-radius: 5px;
    border-radius: 5px;
}

#menu ul li {
    float: none;
    margin: 0;
    padding: 0;
    display: block;  
    box-shadow: 0 1px 0 #111111, 
                0 2px 0 #777777;
}

#menu ul li:last-child { 
    box-shadow: none;    
}

#menu ul a {    
    padding: 10px;
    height: auto;
    line-height: 1;
    display: block;
    white-space: nowrap;
    float: none;
    text-transform: none;
}

*html #menu ul a { /* IE6 */   
    height: 10px;
    width: 150px;
}

*:first-child+html #menu ul a { /* IE7 */    
    height: 10px;
    width: 150px;
}

#menu ul a:hover {
    background-color: #0186ba;
    background-image: linear-gradient(#04acec, #0186ba);
}

#menu ul li:first-child a {
    border-radius: 5px 5px 0 0;
}

#menu ul li:first-child a:after {
    content: '';
    position: absolute;
    left: 30px;
    top: -8px;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 8px solid #444;
}

#menu ul li:first-child a:hover:after {
    border-bottom-color: #04acec; 
}

#menu ul li:last-child a {
    border-radius: 0 0 5px 5px;
}

/* Clear floated elements */
#menu:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

* html #menu             { zoom: 1; } /* IE6 */
*:first-child+html #menu { zoom: 1; } /* IE7 */

.excluir {  
    background-image: url("../icones/remover.png") !important;  
} 

.visualizar {  
    background-image: url("../icones/visualizar.png") !important;  
}

.adicionar {  
    background-image: url("../icones/adicionar.png") !important;  
}

.salvar {  
    background-image: url("../icones/salvar.png") !important;  
}

.login {  
    background-image: url("../icones/login.png") !important;  
}

.alterar {  
    background-image: url("../icones/alterar.png") !important;  
}

.fechar {  
    background-image: url("../icones/fechar.png") !important;  
} 

/* * { font-family:Consolas } .tabelaEditavel { border:solid 1px; width:100% } .tabelaEditavel td { border:solid 1px; } .tabelaEditavel .celulaEmEdicao { padding: 0; } .tabelaEditavel .celulaEmEdicao input[type=text]{ width:100%; border:0; background-color:rgb(255,253,210); }*/

